/* Resetting default margins and paddings */
body, h1, h2, h3, p, ul, li, table {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* General body styling */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #afe19d;
}

/* Navigation bar styling */
nav {
    background-color: #333;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
} 

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    display: block;
}

nav a:hover {
    background-color: #66e637;
}

/* Section styling */
section {
    text-align: center;
    padding: 20px;
}

/* Styling for the first section */
section:first-child {
    text-align: left;
    padding: 20px;
}

/* Image logo styling */
.img-logo {
    float: left; 
    width: 400px; 
    padding: 0px; 
}

/* Styling for specific section with id abcde */
#abcde {
    width: 400px; 
    height: 400px;
    position: center;
    top: 50px;
    right: 0;
}

/* Styling for unnati_big section */
#unnati_big {
    display: visible;
    overflow: hidden;
    height: 60px;
    line-height: 60px;
    font-size: 5em;
    width: 100%;
    text-align: center;
    text-decoration: none;
}

/* Table styling */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #100f0f;
}

th, td {
    padding: 10px;
}

/* Horizontal line styling */
hr {
    border: 1px solid #333;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: flex-start;
    }

    nav li {
        margin-bottom: 10px;
        margin-right: 0;
    }
}

/* Event button styling */
.cricket, .badminton, .registration, .Extended, .Pass, .location {
    width: 115px;
    height: 25px;
    background: #4E9CAF;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: rgb(10, 10, 10);
    font-weight: bold;
    line-height: 25px;
}

/* Elite button styling */
.elite {
    float: center; 
    width: 350px; 
    padding: 0px; 
}

/* Green section styling */
#green {
    width: 400px; 
    height: 400px;
    position: center;
    top: 0px;
    right: 0;
}
